.header__body {
  display: flex;
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #4876c3;
  font-family: 'Roboto';
  flex-wrap: wrap;
}

.header__logo {
  /* Style for "Tile.Exper" */
  width: 192px;
  height: 20px;
  color: #ffffff;
  font-family: "Esqadero FF CY 4F";
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin: 19px 119px 17px 20px;
  position: relative;
}

.header__logo span {
  /* Text style for "T" */
  color: #db4437;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header__logo img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  left: 179px;
}

.header__menu {
  display: flex;
  position: relative;
  padding-left: 0;
}

.header__list {
  display: flex;
  position: relative;
  height: 13px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: right;
  margin-top: 20px;
}

.header__list li {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
}

.header__search {
  width: 18px;
  height: 18px;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 11px;
}

.header__add {
  width: 20px;
  height: 20px;
  padding-top: 18px;
  padding-left: 20px;
}

.header__user {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.user__mail {
  width: 20px;
  height: 16px;
  padding-top: 19px;
}

.user__notifications {
  position: relative;
}

.user__notifications img {
  width: 16px;
  height: 20px;
  padding-left: 27px;
  padding-top: 18px;
}

.user__photo {
  width: 32px;
  height: 32px;
  padding-top: 12px;
  padding-right: 29px;
  padding-left: 22px;
}

.notifications__number {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #db4437;
  color: #ffffff;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  top: 13px;
  left: 36px;
}

.arrow {
  width: 11px;
  height: 6px;
  padding-left: 11px;
  padding-top: 6px;
}

.search {
  display: none;
}

.search__row {
  position: absolute;
  display: flex;
  width: 725px;
  transition: width 2s;
  height: 40px;
  border: solid 1px #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  left: 0px;
  top: 8px;
  margin-left: 20px;
}

.search div:hover {
  width: 721px;
}

.search__row input {
  width: 100%;
  border: none;
}

.search__row input:focus {
  outline: none;
}

.search__img {
  padding: 12px 10px 10px 10px;
}

.search__cancel {
  border: none;
  background-color: #ffffff;
  padding-top: 6px;
  padding-right: 9px;
}

.search__btn {
  position: absolute;
  width: 70px;
  height: 42px;
  background-color: #ffc120;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  border: solid #ffc120 1px;
  border-radius: 0% 5% 5% 0%;
  right: -70px;
  bottom: -1px;
}
